# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
coverage/

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js
# This is built as main.css and then moved as part of the
# release process.
styles.css
main.css

# Exclude sourcemaps
*.map

# obsidian
data.json
.obsidian

.DS_Store
